<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <title>Repeat Counter!</title>
</head>
<body>
  <div class="container-form">
      <h1 class="text-center">Repeat Counter</h1>
      <p class="bg-info">Presenting the Repeat Counter. A revolutionary new web
          application that lets you count how many times your keyword is used within a given sentence or paragraph.
      </p>
      <form action="/results">
        <div class="form-group">
          <label for="keyword">Enter your keyword:</label>
          <input id="keyword" name="keyword" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="bank">Enter your bank of words to check:</label>
          <input id="bank" name="bank" class="form-control" type="text">
        </div>

        <div class="count">
          <button type="submit" class="btn btn-primary btn-lg active">Count</button>
        </div>
      </form>
  </div>
</body>
</html>
