<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <title>Repeat Counter!</title>
</head>
<body>
  <div class="center-block">
    <h1 class="text-center">Repeat Counter</h1>
    <h2 class="bg-warning"><p class="text-center">{{ result }}</p></h2>

    <button type="button" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <a href="/"> Home</a>
    </button>
  </div>
</body>
</html>
